<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>textSelectionSafariActionExtensionObjCExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>textSelectionSafariActionExtensionObjCExampleExt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D64DA2B1993FE9100C7C9D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D64DA411993FE9100C7C9D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D64DA551993FF3600C7C9D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
